.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    text-align: center;
}

form
{
  display: flex;
  flex-direction: column;
}
input, button
{
  padding: 10px;
  margin: 10px 0;
}